footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;


  .btn-retour {
    font-size: 0.75rem;
    padding: 5px;
    color: #333;
    background: transparent;
    border: 1px tomato solid;


    &:hover {
      color: tomato;
    }

  }

}


