


.information {
  display: flex;
  flex-direction: column;

  article {
    padding: 30px;
    flex: 1 1 100%;


    a {
      color: tomato;
    }

    img {
      display: block;
      margin: 0 auto;
    }

  }
}


@media screen and (min-width: 992px) {

  .information {

    flex-direction: row;

    article {
      flex: 1 1 50%;
    }


  }


}
